<a href="https://colab.research.google.com/github/0equalboo/2021_Summer_Python_Deeplearning/blob/main/set%26dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **세트(set)**
* 세트는 순서가 보장되지 않음
* 세트는 요소의 중복을 허용하지 않음
* 세트는 {}를 활용하여 생성이 가능

### **생성**

In [1]:
myset = set()
myset

set()

In [3]:
myset = set([1,1,1,2,2,2,3,3,3])
myset

{1, 2, 3}

In [4]:
myset = set((1,2,3,4,5,6,6,6,))
myset

{1, 2, 3, 4, 5, 6}

### **add : 값 추가**
* set에 요소를 추가

빈 set 생성

In [9]:
myset = set()
myset

set()

add() 로 요소 추가

In [ ]:
myset.add(1)
myset

{1}

In [12]:
myset.add(1)
myset.add(1)
myset.add(2)
myset.add(2)
myset.add(2)
myset.add(3)
myset.add(3)
myset.add(4)
myset.add(5)
myset

{1, 2, 3, 4, 5}

요소를 중복하여 추가하여도, set의 특성상 **중복이 제거된 요소만 출력**

## **update() : 여러개의 값 추가**
* 여러 개의 값을 한꺼번에 추가하고자 할때 사용하는 메서드

In [13]:
myset = {1,2,3}
myset

{1, 2, 3}

list의 요소들을 set에 한꺼번에 **update**

In [17]:
myset.update([4,5,6])
myset

{1, 2, 3, 4, 5, 6}

tuple의 요소들을 set에 한꺼번에 **update**

In [18]:
myset.update((7,8,9))
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9}

set의 요소들을 set에 한꺼번에 **update**

In [20]:
myset.update({10,11,12})
myset

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

## **remove() : 값 제거**
* 단일 요소를 제거

In [21]:
myset = {1,2,3,4,5}

In [22]:
myset.remove(2)
myset

{1, 3, 4, 5}

## **교집합 (intersection)**
* 교집합은 집합 a와 집합 b의 공통된 요소
* & 기호 또는 intersection() 메서드를 활용해 구할 수 있음

In [24]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}
a & b

{3, 4, 5}

In [26]:
a.intersection(b)

{3, 4, 5}

## **합집합 (union)**
* 합집합은 집합 a와 집합 b 요소를 모두 포함
* | 기호 또 union() 매서드를 사용

## **차집합 (difference)**
* 두 집합에서 하나의 집합에만 포함되는 모든 원소의 집합
* -연산자 또는 differnce() 매서드를 사용

In [33]:
a = {1,2,3,4,5,6,7}
b = {5,6,7,8,9,10,11}
a-b

{1, 2, 3, 4}

In [31]:
b-a

{6, 7}

In [35]:
a.difference(b)

{1, 2, 3, 4}

## **집합의 타입 변환**

### **set를 list로 변환**

In [36]:
a = {1,2,3,4,5}
b = list(a)
b

[1, 2, 3, 4, 5]

### **list를 set로 변환**
* list의 중복을 제거할 때 사용

In [37]:
a = [1,2,3,4,4,5,5,6]
b = set(a)
b

{1, 2, 3, 4, 5, 6}

In [39]:
c = list(b)
c

[1, 2, 3, 4, 5, 6]

# **딕셔너리(dictionary)**
* 순서 x
* 키(key)와 값(value)의 쌍으로 형성
* type = dict으로 표기
* key를 사용하여 값 조회
* **수정, 삭제, 추가 가능**

**생성**

In [40]:
mydict = dict()
print(type(mydict))
mydict

<class 'dict'>

{}

In [41]:
mydict = {'a' : 1, 'b':2, 'c':3}
mydict

{'a': 1, 'b': 2, 'c': 3}

딕셔너리는 여러 타입의 key 가질 수 있음

In [42]:
mydict = {'a':1,'가':2,100:3,3.14:4,True:5}
mydict

{100: 3, 3.14: 4, True: 5, 'a': 1, '가': 2}

**값 조회**
* key 값을 통해 값을 조회할 수 있음

key를 지정하여 값을 조회할 수 있음

In [43]:
mydict['a']

1

없는 key를 조회할 경우 오류 발생

In [45]:
mydict['b']

KeyError: ignored

get() 메서드를 활용한 값 조회 가능

In [48]:
mydict.get('a')

1

get() 사용시 key가 없는 경우에 오류가 발생하지 않음
* 이 경우에는 None값 반환

In [49]:
mydict.get('b')

### **keys() : 모든 key 조회**

In [50]:
mydict = {'a': 100, 'b': 200, 'c': 300, 'd':400, 'e':500}
mydict

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 500}

In [51]:
mydict.keys()

dict_keys(['a', 'b', 'c', 'd', 'e'])

**주의사항** dict_keys
* 위에서 출력된 dict_keys는 리스트(list)가 아님
* 객체(object)로 생성되는데, 이를 list로 변경하기 위해서 list()로 타입변환 가능

In [54]:
a = mydict.keys()
b = ['a','b','c','d','e']
a

dict_keys(['a', 'b', 'c', 'd', 'e'])

In [53]:
type(a)

dict_keys

In [55]:
type(b)

list

In [58]:
a = list(a)
type(a)

list

### **values() : 모든 value 조회**

In [59]:
mydict.values()

dict_values([100, 200, 300, 400, 500])

### **items() : 모든 key,value 조회**
* key, value가 튜플(tuple)로 묶여서 조회

In [61]:
mydict.items()

dict_items([('a', 100), ('b', 200), ('c', 300), ('d', 400), ('e', 500)])

In [63]:
a = list(mydict.items())
a

[('a', 100), ('b', 200), ('c', 300), ('d', 400), ('e', 500)]

In [64]:
type(a)

list

### **key 값의 존재 유무 확인**

In [65]:
'a' in mydict

True

In [66]:
'f' in mydict

False

### **값을 추가하기**
* 새로운 key에 값을 대입하여 추가

In [67]:
mydict = dict()
mydict

{}

In [69]:
mydict['apple'] = 123
mydict

{'apple': 123}

In [72]:
mydict [0] = 2
mydict [1.2678] = 'banana'
mydict

{0: 2, 1: 'banana', 1.2678: 'banana', 'apple': 123}

### **update() : 다중 업데이트**
* 값을 한꺼번에 업데이트

In [73]:
mydict = {'파인애플': 1500, '망고': 3000, '사과':2000}
mydict

{'망고': 3000, '사과': 2000, '파인애플': 1500}

In [74]:
add = {
    '바나나': 1000,
    '수박': 5000,
    '딸기': 10000
}

In [76]:
mydict.update(add)
mydict

{'딸기': 10000, '망고': 3000, '바나나': 1000, '사과': 2000, '수박': 5000, '파인애플': 1500}

### **값 변경**
* key 값에 새로운 값(value) 대입, 값 변경 가능

In [77]:
mydict = {'a':1, 'b':2,'c':3,'d':4}
mydict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [78]:
mydict['a'] = 1000
mydict

{'a': 1000, 'b': 2, 'c': 3, 'd': 4}

### **제거/ key 제거**

In [79]:
mydict = {'a':1, 'b':2, 'c':3,'d':4}
mydict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

del을 사용하여 값을 제거할 수 있음

del에 딕셔너리 key 지정

In [80]:
del mydict['a']
mydict

{'b': 2, 'c': 3, 'd': 4}

pop() 에 key를 지정하여 값 제거 가능

제거되는 값의 value 반환

In [81]:
mydict.pop('b')

2

In [82]:
mydict

{'c': 3, 'd': 4}

### **len() : 요소의 개수 파악**

In [83]:
len(mydict)

2

### **clear() - 전부 삭제**

In [85]:
mydict = {'a': 'A', 'b': 'B', 'c': 'C'}
mydict

{'a': 'A', 'b': 'B', 'c': 'C'}

In [87]:
mydict.clear()
mydict

{}